<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Threshold>70</Threshold>
          <ThresholdType>line</ThresholdType>
          <ThresholdStat>minimum</ThresholdStat>
          <Exclude>
            [*.Tests]*
            [Pressmark.Api]Pressmark.Api.Program
            [Pressmark.Api]Pressmark.Api.Data.DesignTimeDbContextFactory
            [Pressmark.Api]Pressmark.Api.Data.Migrations.*
            [Pressmark.Api]Pressmark.Api.Services.SmtpEmailService
            [Pressmark.Api]Pressmark.Api.BackgroundServices.RssFetcherService
            [Pressmark.Api]Pressmark.Api.Services.FeedFetcherService
            [Pressmark.Api]Pressmark.Api.Services.FeedUpdateBroadcaster
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
